
\.idea/

\target/

src/main/java/me/mattstudios/mf/CMDTest\.java

src/main/java/me/mattstudios/mf/CMDTest2\.java

src/main/java/me/mattstudios/mf/test/CommandTest\.java

src/main/resources/

temp.java.asc

temp.java

pom.xml.versionsBackup
!/src/main/java/me/mattstudios/mf/main.java
!/src/main/java/me/mattstudios/mf/test.java

src/main/java/me/mattstudios/mf/CMD.java

src/main/java/me/mattstudios/mf/Main.java

src/main/java/me/mattstudios/mf/cmds/CMD.java

src/main/java/me/mattstudios/mf/cmds/
